html {
  background-color: #E5E5E5;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  margin: 0;
  background-color: #1B244A;
  width: 575px;
  height: 385px;
}

.container {
  display: flex;
  justify-content: space-around;
}

button {
  color: #9AABD8;
  width: 45px;
  height: 45px;
  background-color: transparent;
  border: 2px solid #9AABD8;
  border-radius: 5px;
}

h3{
  color: #EEEEEE;
  font-size: 40px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
}

h2 {
  background-color: #080001;
}