html {
  background-color: #E5E5E5;
}

body {
  margin: 0;
  background-color: #1B244A;
  width: 575px;
  height: 385px;
}

.container {
  display: flex;
  justify-content: space-around;
}

button {
  width: 45px;
  height: 45px;
}